<div class="act-container">
    <form class="form-add" {{action 'save' on='submit'}}>
        <div class="form-group">
            <label for="proj" class="col-sm-2 control-label">Project</label>
            <div class="col-sm-10">
                {{input type="text" class="form-control" id=proj placeholder="Project"}}
            </div>
        </div>
        <div class="form-group">
            <label for="org" class="col-sm-2 control-label">Organistation</label>
            <div class="col-sm-10">
                {{input type="text" class="form-control" id=org placeholder="Organisation"}}
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">Save</button>
                {{#link-to 'activities' class='btn btn-default btn-sm'}} Remove {{/link-to}} 
            </div>
        </div>
    </form>
</div>

