<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">LT-CLient-Portal</a>
    </div>
    <ul class="nav navbar-nav">
      <li>{{#link-to 'sprints'}}Sprints{{/link-to}}</li>
      <li>{{#link-to 'activities'}}Activites{{/link-to}}</li>     
    </ul>
     <ul class="nav navbar-nav navbar-right">
       {{log session}}
       {{#unless session.isAuthenticated}}
        {{#link-to "login" tagName="li"}}<a href="#"><span class="glyphicon glyphicon-user"></span>Login</a>{{/link-to}}
      {{else}}
        <li><a href="#" {{action "invalidateSession"}}><span class="glyphicon glyphicon-log-out"></span>Logout </a></li>
      {{/unless}}
    </ul>
  </div>
</nav>
{{outlet}}