<div class="container">
<div class="col-md-3" id="home-box">
    <div class="sprint_header">
        <h2>Sprints</h2>
        <div class="space"></div>
    </div>
    <ul class="list-group">
        <li class="list-group-item">
            <span class="glyphicon glyphicon-ok "></span> Task 1</li>
        <li class="list-group-item">
            <span class="glyphicon glyphicon-ok "></span> Task 2</li>
        <li class="list-group-item">
            <span class="glyphicon glyphicon-ok "></span> Task 3</li>
        <li class="list-group-item">
            <span class="glyphicon glyphicon-ok "></span> Task 4</li>
        <li class="list-group-item">
            <span class="glyphicon glyphicon-ok "></span> Task 5</li>
        <li class="list-group-item">
            <span class="glyphicon glyphicon-ok "></span> Task 6</li>
    </ul>
</div>
</div>